header {
    text-align: center;
    margin: 1em;
}

.list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.shop {
    display: flex;
    border: 1px dotted gray;
    margin: 0em 1em;
    flex-basis: 25%;
}

.main-rep {
    background-color: grey;
    background-size: 50%;
    text-align: center;
}

a:hover{
    color: yellow;
}




   
  



